h1 {color: #f82424;}
img {width: 70px; 
    height: 90px;
    border-color: rgb(26, 26, 27);border-radius: 50px; border-style: double;;}
div {margin:auto}
div {text-align: start;}
body { background-color: darkorange;}